version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    ignore:
      # Locked to "^20.0.0" to align with our minimum node version in package.json/engines
      - dependency-name: "@types/node"
      # Locked to "^15.4.1", since newer majors include breaking changes that may impact us
      - dependency-name: "yargs"
    groups:
      eslint:
        patterns:
          - "*eslint*"
      vitest:
        patterns:
          - "*vitest*"
